[Unit]
Description=Mirrulations-Search
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ec2-user/mirrulations-search/src/
Environment="PATH=/home/ec2-user/mirrulations-search/.venv/bin"
Environment="PYTHONPATH=/path/to/your-project/src"
ExecStart=/home/ec2-user/mirrulations-search/.venv/bin/gunicorn -c /home/ec2-user/mirrulations-search/conf/gunicorn.py mirrsearch.app:app
Restart=always

[Install]
WantedBy=multi-user.target
