@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
font-family: "Lato", sans-serif;
  background: #f6f7fb;
  color: #1f2937;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 300;
}

.search-box {
    display: flex;
    margin-bottom: 30px;
}

.search-box input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-box button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #6366f1;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
     border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}



.search-box button:hover {
    opacity: 1;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-top: 0;
    color: #222;
}

.card p {
    margin: 6px 0;
    color: #555;
}


/*These are some animations... */

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease-out forwards;
}

.fade-down {
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeUp 0.8s ease-out forwards;
}

.fade-delay-1 { animation-delay: 0.2s; 
}
.fade-delay-2 { animation-delay: 0.4s; }
.fade-delay-3 { animation-delay: 0.6s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-box select {
    padding: 12px;
    font-size: 16px;
    border: none;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 10px;
    border-radius: 6px;
}
